<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/" method="post">
    	<!-- req.body.ingredient_name -->
	    <input type="text" name="mac_name">
	    <input type="submit">
    </form>

    <ul>
    	<% macs.forEach(ingredient => { %>
    		<li>
          <%= mac.name %>
        </li>

    	<% }) %>
    </ul>
</html>
