<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Donald's secret menu of McDonald's for 2017</h1>
    <!-- <h1><%#= title %></h1>
    <p>Welcome to <%#= title %></p> -->

    <form action="/" method="post">
	    <input type="text" name="mac_name">
	    <input type="submit">
    </form>

    <ul>
    	<% macs.forEach(mac => { %>
    		<li>
          <%= mac.name %>
            <a href="/macs/<%= mac._id %>/edit">Edit</a>
            <a href="/macs/<%= mac._id %>/delete">Delete</a>
        </li>

    	<% }) %>
    </ul>
  </body>
</html>
